

{% block title %}Raw Form Example{% endblock %}

{% block content %}
    <form method="POST">
        
            <label for="name">Name</label>
            <input id="name" name="name" type="text">
            <label for="mobilenumber">Mobilenumber</label>
            <input id="mobilenumber" name="mobilenumber" type="text">
            <label for="numberpers">Number of people:</label>
            <input id="numberpers" name="numberpers" type="text">

            
        
        <input type="submit" value="Submit">
    </form>
{% endblock %}